# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/
*.log

# DuckDB Database
warehouse/*.duckdb

# Operating System Files
.DS_Store
Thumbs.db